<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{narrow}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
</head>
<body>
<div layout:fragment="content">
    <h1 class="head-title" th:text="${user.getFullname()}"></h1>
    <div class="content">
      <div class="block">
          <div class="block-header">
              <p>Общая информация</p>
          </div>
          <table class="table-info">
              <tr>
                  <td>Дата регистрации:</td>
                  <td><p th:text="${user.getFormattedRegistrationDate()}"></p></td>
              </tr>
              <tr>
                  <td>Логин:</td>
                  <td><p th:text="${user.getUsername()}"></p></td>
              </tr>
              <tr th:if="${user.getEmail() != null}">
                  <td>Почта:</td>
                  <td><p th:text="${user.getEmail()}"></p></td>
              </tr>
              <tr th:if="${user.getBirthday() != null}">
                  <td>День рождения:</td>
                  <td><p th:text="${user.getFormattedBirthdayRU()}"></p></td>
              </tr>
          </table>

          <table th:if="${doctor != null}" class="table-info">
              <tr>
                  <td>Описание врача:</td>
                  <td th:if="${doctor.getDescription().isEmpty()}"><p th:text="Отсутствует"></p></td>
                  <td th:unless="${doctor.getDescription().isEmpty()}"><p th:text="${doctor.getDescription()}"></p></td>
              </tr>
              <tr>
                  <td>Дата начала работы:</td>
                  <td><p th:text="${doctor.getStartWorkDate()}"></p></td>
              </tr>
              <tr th:if="${doctor.getEndWorkDate() != null}">
                  <td>Дата конца работы:</td>
                  <td><p th:text="${doctor.getEndWorkDate()}"></p></td>
              </tr>
              <tr>
                  <td>Статус:</td>
                  <td th:if="${doctor.isEnabled()}"><p>Активен</p></td>
                  <td th:unless="${doctor.isEnabled()}"><p>Не активен</p></td>
              </tr>
          </table>

          <table th:if="${patient != null}" class="table-info">
              <tr>
                  <td>Льготы:</td>
                  <td th:if="${patient.isBeneficiary()}"><p th:text="Есть"></p></td>
                  <td th:unless="${patient.isBeneficiary()}"><p th:text="Отсутствуют"></p></td>
              </tr>
              <tr th:if="${patient.getBloodType() != null}">
                  <td>Группа крови:</td>
                  <td><p th:text="${patient.getBloodType()}"></p></td>
              </tr>
          </table>
      </div>
      <div class="block">
          <div class="block-header">
              <p>Роли</p>
          </div>
          <table class="table-info role-table">
              <tr>
                  <td>Роль пациента:</td>
                  <td th:if="${patient != null}"><p th:text="Есть"></p></td>
                  <td th:if="${patient != null}">
                      <form method="post"
                            th:action=@{/users/{id}/removePatientRole(id=${user.getId()})}>
                          <input class="button" type="submit" value="Забрать роль">
                      </form>
                  </td>
                  <td th:if="${patient == null}"><p th:text="Нет"></p></td>
                  <td th:if="${patient == null}">
                      <form method="post"
                            th:action=@{/users/{id}/addPatientRole(id=${user.getId()})}>
                          <input class="button" type="submit" value="Выдать роль">
                      </form>
                  </td>
              </tr>
              <tr>
                  <td>Роль врача:</td>
                  <td th:if="${doctor != null}"><p th:text="Есть"></p></td>
                  <td th:if="${doctor != null}">
                      <form method="post"
                            th:action=@{/users/{id}/removeDoctorRole(id=${user.getId()})}>
                          <input class="button" type="submit" value="Забрать роль">
                      </form>
                  </td>
                  <td th:if="${doctor == null}"><p th:text="Нет"></p></td>
                  <td th:if="${doctor == null}"><a class="button" th:href="@{/users/{id}/addDoctorRole(id=${user.getId()})}">Выдать роль</a></td>
              </tr>
          </table>
     </div>
      <div class="center">
          <a th:href="@{/users}" class="button">Назад</a>
      </div>
    </div>
</div>
</body>
</html>