

volumes:
  pgdata:

services:
  db:
    container_name: clinic_db
    restart: always
    image: 'postgres:16.2'
    env_file:
      - postgres.env
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/create_tables.sql:/docker-entrypoint-initdb.d/001create_tables.sql
      - ./db/add_roles.sql:/docker-entrypoint-initdb.d/002add_roles.sql
      - ./db/test_data.sql:/docker-entrypoint-initdb.d/003test_data.sql
    ports:
      - "5433:5432"
    networks:
      - clinic-network

  app:
    container_name: clinic_app
    restart: always
    build: .
    ports:
      - "9090:9090"
    depends_on:
      - "db"
    env_file:
      - app.env
    networks:
      - clinic-network

networks:
  clinic-network:
    driver: bridge