<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default}" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Профиль</title>
</head>
<body>
<div layout:fragment="content">
  <div class="buttons-content">
    <div th:replace="~{fragments/account :: ${role} + Buttons}"
         th:authorize="${#authorization.expression('hasRole('' + ${role} + '')')}">
    </div>
      <div class="account-content">
        <div class="block">
          <table th:replace="~{fragments/user-info :: userInfo}"></table>
          <div class="buttons-block">
            <a class="button" th:href="@{/account/update}">Изменить</a>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>